@font-face {
    font-family: 'Inter';
    src: url(/fonts/InterVariable.woff2) format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url(/fonts/InterVariable-Italic.woff2) format('woff2-variations');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

body {
    font-family: 'InterVariable', sans-serif;
}