@font-face {
    font-family: 'Inter';
    src: url('InterVariable.woff2') format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Inter';
    src: url('InterVariable-Italic.woff2') format('woff2-variations');
    font-weight: 100 900;
    font-style: italic;
    font-display: block;
}

body {
    font-family: 'Inter', sans-serif;
}