@font-face {
    font-family: 'Inter';
    src: url(/fonts/InterVariable.woff2) format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url(/fonts/InterVariable-Italic.woff2) format('woff2-variations');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}


body {
    font-family: 'Inter', sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.card-container {
    max-width: 750px;
    width: 90%;
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card-container:hover {
    transform: translateY(-5px);
}

.card-header {
    background-color: #4E5b31;
    color: white;
    text-align: center;
    padding: 50px 20px 30px 20px;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.card-body {
    padding: 30px;
    text-align: center;
    color: #333;
}

.email {
    color: #666;
    font-style: italic;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    font-size: 1.1rem;
}

a {
    color: #4E5b31;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}